modules = ["nodejs-20", "web"]
run = "npm install"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm install"]

[workflows]
runButton = "Start Development Server"

[[workflows.workflow]]
name = "Start Development Server"
author = 47061434
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 3000
externalPort = 80
